---
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>EasyHome | Home automation and ambient lighting</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/components/reset.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/components/container.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/components/grid.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/components/image.min.css">
	<link rel="stylesheet" href="style.css">
</head>
<body class="calm-bg">
	<div class="ui container" id="device-dashboard">
		<header>
			<div class="logo">
				<img src="easyhome-logo.png" alt="EasyHome Logo" width="100px" height="100px">
			</div>
			<h1 id="main-header-title">EasyHome</h1>
			<p class="desc">Home automation and ambient lighting dashboard for Arduino and ESP modules.</p>
		</header>
		<div id="mcu-config">
			<input type="text" placeholder="192.168.1.1" id="mcuip" title="NodeMCU IP">
			<button>Connect to Controller</button>
		</div>
		<br />

		<h2>Devices</h2>
		<div class="ui four column doubling grid" id="device-list">
			{% include devicelist.html %}
		</div>

		<h2>Ambient Lighting</h2>
		<div id="effects-list">
			<input type="radio" name="effect" value="flat" id="effect-1"><label for="effect-1">Flat</label>
			<input type="radio" name="effect" value="roll" id="effect-2"><label for="effect-2">Roll</label>
			<input type="radio" name="effect" value="snake" id="effect-3"><label for="effect-3">Snake</label>
		</div>

		<br/>
		<div class="ui eight column doubling grid" id="color-list">
			{% include colorlist.html %}	
		</div>

	</div> <!-- Container -->
	
	<footer>
		<p class="copyright">Made with love in <a href="http://www.guyswhocode.com/lab">GWC labs.</a></p>
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="script.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-88928746-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-88928746-1');
	</script>
</body>
</html>