@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

body {
	font-family: 'Lato', sans-serif;
}

h1#main-header-title{
	margin-top: 30px;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-weight: 300;
	font-size: 3em;
	color: #CCC;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 2em;
	color: #CCC;
	text-align: center;
	margin-top: 50px;
}

.calm-bg{
	background: #333; /* For browsers that do not support gradients */
	background-image: url('pattern-bg.png');      
	background-repeat: repeat;  
}

#color-list .color,
#device-list .device {
	cursor: pointer;
}

#color-list .color .image{
	padding: 20px 20px 0px 20px;
}

#device-list .device .image {
	padding: 30px 30px 0px 30px;
}

#color-list .color .content p,
#device-list .device .content p {
	text-align: center;
	font-family: 'Lato', sans-serif;
	margin-bottom:0px;
}

#color-list .color .content p.title{
	color: #999;
	font-size: 1em;
}

#device-list .device .content p.title {
	color: #999;
	font-size: 1.3em;
}

#device-list .device .content p.desc {
	margin-top: 6px;
	color: #777;
	font-size: 1em;
}
#mcu-config{
	width: 50%;
	margin: 0 auto;
}

#mcu-config input,
#mcu-config button {
	width: 100%;
	border: 1px solid white;
	font-family: 'Lato', sans-serif;
	border-radius: 0px;
	padding: 6px 8px;
}


#mcu-config input{
	color: #EEE;
	background-color: transparent;
	height: 3em;
	font-size: 1em;
}

#mcu-config button {
	color: #333;
	background-color: #EEE;
	height: 2em;
	cursor: pointer;
}

footer p{
	font-family: 'Lato', sans-serif;
	padding: 20px 0px;
	color: #EEE;
	text-align: center;
}

footer p a{
	color: #33bb77;
	text-decoration: none;
}